@import url("https://www.dafont.com/es/simpsonfont.font");
@font-face {
    font-family:simpsons;
    src: url(Simpsonfont.otf);
}
body{
    background-image: url(/img/fondo.jpg);
    background-attachment: fixed;
    background-size: cover;
    margin: 0px;
}
*{
    padding: 0px;
    margin: 0px;
    justify-content: center;
    align-items: center;
    margin: auto;
}       
h1{
    text-align: center;
    font-family: simpsons;
    font-optical-sizing:auto;
    font-weight:100px;
    color: rgb(37, 37, 199);
    font-variation-settings:
    "MORF" 25%,
    "SHLN" 15%
}
a{      
    text-decoration:none ;
    color: rgba(235, 14, 150, 0.9);
    font-family:simpsons ;
    font-size: 1em ;
}
ul {
    display:flex;
    justify-content: space-around;
    list-style: none;
    padding: 5px;
    gap: 10px;
    text-decoration: underline;
}
header{ 
    display:flex;
    justify-content:center;
    
    padding: 10px;
    align-items: center;
    box-shadow: 0 2px 5px rgba(245, 10, 10, 0.1);
}
#imgHS{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 15%;
    height: 20%;
    margin: 0.5%;
    border: rgba(255, 255, 255, 0.693) solid ;
    border-radius: 20%;
}
#imgSpfd{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 60%;
    height: 50%;
    margin: 0.5%;
    border: rgba(255, 255, 255, 0.693) solid ;
    border-radius: 30%; 
}
#imgMG{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 55%;
    height: 40%;
    margin: 0.5%;
    border: rgba(0, 0, 0, 0.693) solid ;
    border-radius: 20%;
}
#img11s{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0 auto ;
    width: 70%;
    height: 50%;
    border: rgba(255, 255, 255, 0.693) solid ;
    border-radius: 30%;
}
#imgFlia{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:auto ;
    width: 40%;
    height: 30%;
    border: rgba(255, 255, 255, 0.693) solid ;
    border-radius: 15%;
}
#imgFlia:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 55%;
    height: 45%;
    border: rgba(255, 255, 255, 0.693) solid ;
}
#imgtempo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 30%;
    height: 10%;
    border: rgba(255, 255, 255, 0.693) solid ;
    border-radius: 15%;
}
#imgtempo:hover{
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 50%;
    height: 35%;
    border: rgba(255, 255, 255, 0.693) solid ;
}
#div1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border: blue solid;
    border-radius: 20px;
    width: 38vw;
    background-color: transparent;
    font-size: 1em;
}
#div1:hover{
    color: blue;
    font-size: 1.5em;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(97, 228, 50);
    border-radius: 40px;
    width: 50vw;
    border: rgb(255, 255, 247) solid ;
}
#div2{
    display:flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border: blue solid;
    border-radius: 20px;
    width: 38vw;
    height: 35vw;
    background-color: transparent;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1em;
    flex-wrap: wrap;
    max-width: 100%;
    padding: 20px;
    
}
#div2:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(231, 103, 23);
    border: rgb(16, 26, 222) solid ;
    width: 40vw;
    height: 45vw;
    font-size: 1.2em;
}
#h2his{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-family: simpsons;
    font-size: 2.5em;
    color: rgb(215, 52, 215);
}
#H22{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-family: simpsons;
    font-size: 2.5em;
    color: rgb(215, 52, 215);
}
#div3{
    display: flex;
    justify-items: center;
    align-items: center;
    margin: auto;
    border: rgb(150, 150, 209) solid;
    border-radius: 20px;
    width: 40vw;
    padding: 20px;
    height: auto;
    background-color: transparent;
    font-size: 1em;    
    flex-wrap: wrap;
    max-width: 50%;
    text-align: justify;

}  
#div3:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(208, 117, 61);
    font-size: 1.2em; 
    height: 50vw;
    text-align: justify;
    border: rgb(16, 26, 222) solid ;
}
#hpredic{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-family: simpsons;
    font-size: 2.5em;
    color: rgb(215, 52, 215);  
}
#div4{
    display: fixed;
    justify-content: center;
    align-items: center;
    margin: auto;
    border: blue solid;
    border-radius: 20px;
    background-color: transparent;
    width: 30vw;
    height: 40vw;
    font-size: 1em;
    text-align: justify;
}
#div4:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(231, 103, 23);
    border: rgb(16, 26, 222) solid ;
    width: 33vw;
    height: 50vw;
    text-align: justify;
    font-size: 1.2em;
}
#h33{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-family: simpsons;
    font-size: 2.5em;
    color: rgb(215, 52, 215); 
}
#div5{
    display: fixed;
    justify-content: center;
    align-items: center;
    border: blue solid;
    border-radius: 20px;
    width: 38vw;
    margin: auto;
    background-color: transparent;
    font-size: 1.5em;
}
#p17{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-family: simpsons;
}
#div5:hover{
    color: rgb(25, 9, 255);
    background-color: rgb(255, 255, 255);
    border: rgb(16, 26, 222) solid ;
}
#div6{
    display: fixed;
    justify-content: center;
    align-items: center;
    margin: auto;
    border: blue solid;
    border-radius: 20px;
    width: 38vw;
    background-color: transparent;
    font-size: 1.5em;
}
#p18{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-family: simpsons;
}
#div6:hover{
    color: rgba(25, 255, 9, 0.732);
    background-color: rgb(255, 255, 255);
    border: rgb(16, 26, 222) solid ;
}
#div7{
    display: fixed;
    justify-content:center;
    align-items: center;
    border: blue solid;
    border-radius: 20px;
    width: 38vw;
    margin: auto;
    background-color: transparent;
    font-size: 1.5em;
}
#p19{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-family: simpsons;
}
#div7:hover{
    color: rgba(232, 42, 0, 0.855);
    background-color: rgb(255, 255, 255);
    border: rgb(16, 26, 222) solid ;
}
#div8{
    display: fixed;
    justify-content: center;
    align-items: center;
    margin: auto;
    border: blue solid;
    border-radius: 20px;
    width: 38vw;
    background-color: transparent;
    font-size: 1.5em;
}
#p20{
    display: flex;
    justify-content: center; 
    align-items: center;
    margin: auto;
    font-family: simpsons;
}
#div8:hover{
    color: rgba(232, 42, 0, 0.855);
    background-color: rgb(255, 255, 255);
    border: rgb(16, 26, 222) solid ;
}
#div9{
    display: fixed;
    justify-content: center;
    align-items: center;
    border: blue solid;
    border-radius: 20px;
    width: 38vw;
    margin:  auto;
    background-color: transparent;
    font-size: 1.5em;
}
#p21{
    display: flex;
    justify-content: center; 
    align-items: center;
    margin: auto;
    font-family: simpsons;
}
#div9:hover{
    color: rgb(25, 9, 255);
    background-color: rgb(255, 255, 255);
    border: rgb(16, 26, 222) solid ;
}
#hft{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-family: simpsons;
    text-decoration: underline;
    font-size: 2.5em;
    color: rgb(215, 52, 215); 
}
#divft{
    display: fixed;
    justify-content: center;
    align-items: center;
    border: blue solid;
    border-radius: 20px;
    width: 40vw;
    margin:  auto;
    top: 0px;
    background-color: transparent;
    font-size: 1.5em;
}
#divft:hover{
    color: rgb(25, 9, 255);
    background-color: rgb(255, 255, 255);
    border: rgb(16, 26, 222) solid ;
    font-size: 2em;
}

@media (max-width:700px ){
header{
    display:flex;
    justify-content:baseline;
    padding:0px;
    }
ul {
    background-color: rgb(88, 229, 253);
    justify-content: baseline;
    gap: 8px;
    text-decoration:none;
    font-size: 0.3em;
    color:red ;
    }
a {      
    text-decoration:none ;
    color: rgba(10, 12, 2, 0.949);
    font-family:simpsons ;
    font-size: 0.3em ;
    }
h1{
    font-size: 1em;
    }
#imgHS{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 17%;
    height: 20%;
    margin: 0.5%;
    border: rgba(255, 255, 255, 0.693) solid ;
        border-radius: 20%;
    }
#p1{
        font-size: 0.5em;
    }
#div1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border: blue solid;
    border-radius: 20px;
    width: 65vw;
    background-color: transparent;
    font-size: 1.2em;
    }
#h2his{ 
    display: flex;
    justify-content: center;
    align-items: center;
    margin:  auto;
    font-family: simpsons;
    font-size: 1em;
    color: rgb(217, 34, 217);
    }
#div2{
    display:flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border: blue solid;
    border-radius: 20px;
    width: 70vw;
    height: 140vw;
    background-color: transparent;
    font-family: 'Times New Roman', Times, serif;
    font-size: 0.8em;
    flex-wrap: wrap;
    max-width: 100%;
    padding: 20px;
    }
#imgSpfd{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 80%;
    height: 40%;
    margin: 0.5%;
    border: rgba(255, 255, 255, 0.693) solid ;
    border-radius: 30%; 
    }
#H22{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-family: simpsons;
    font-size: 1em;
    color: rgb(233, 20, 233);
    }
#div3{
    display: flex;
    justify-items: center;
    align-items: center;
    margin: auto;
    border: blue solid;
    border-radius: 20px;
    width: 70vw;
    height: 160vw;
    background-color: transparent;
    font-size: 0.8em;    
    flex-wrap: wrap;
    max-width: 100%;
    padding: 20px;
    }  
#imgMG{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 85%;
    height: 35%;
    margin: 0%;
    border: rgba(0, 0, 0, 0.693) solid ;
    border-radius: 20%;
    }
#hpredic{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-family: simpsons;
    font-size: 1.7em;
    color: rgb(215, 52, 215);  
    }
#div4{
    display: fixed;
    justify-content: center;
    align-items: center;
    margin: auto;
    border: blue solid;
    border-radius: 20px;
    width: 85vw;
    height: 120vw;
    background-color: transparent;
    font-size: 0.8em;
    }
#pft{
    text-align: center;
    color:rgb(45, 122, 12);
    font-size: 1.1em;
    }
ol  {
    text-align: justify;
    font-size: 1em;
    }
#img11s{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0 auto ;
    width: 90%;
    height: 50%;
    border: rgba(255, 255, 255, 0.693) solid ;
    border-radius: 30%;
    }
#h33{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-family: simpsons;
    font-size: 1.2em;
    color: rgb(215, 52, 98); 
    }
#div5{
    display: fixed;
    justify-content: center;
    align-items: center;
    border: blue solid;
    border-radius: 20px;
    width: 80vw;
    margin: auto;
    background-color: transparent;
    font-size: 1.1em;
    }
#p17{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-family: simpsons;
    font-size: 1.3em;
    color: blue;
    }
#pq1{
    text-align: justify;
    }
#div6{
    display: fixed;
    justify-content: center;
    align-items: center;
    margin: auto;
    border: blue solid;
    border-radius: 20px;
    width: 80vw;
    background-color: transparent;
    font-size: 1.1em;
    }
#p18{ 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-family: simpsons;
    font-size: 1.3em;
    color: green;
    }
#div7{
    display: fixed;
    justify-content:center;
    align-items: center;
    border: blue solid;
    border-radius: 20px;
    width: 80vw;
    margin: auto;
    background-color: transparent;
    font-size: 1.2em;
    }   
#p19{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-family: simpsons;
    font-size: 1.3em;
    color: blue;
    }
#div8{
    display: fixed;
    justify-content:center;
    align-items: center;
    border: blue solid;
    border-radius: 20px;
    width: 80vw;
    margin: auto;
    background-color: transparent;
    font-size: 1.2em;
    }
#p20{
    display: flex;
    justify-content: center; 
    align-items: center;
    margin: auto;
    font-family: simpsons;
    font-size: 1.3em;
    color: rgb(215, 95, 3);
    }
#div9{
    display: fixed;
    justify-content: center;
    align-items: center;
    border: blue solid;
    border-radius: 20px;
    width: 80vw;
    margin:  auto;
    background-color: transparent;
    font-size: 1.5em;
    }
#p21{
    display: flex;
    justify-content: center; 
    align-items: center;
    margin: auto;
    font-family: simpsons;
    font-size: 1.3em;
    color: rgb(3, 151, 215);
    }
#imgFlia{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:auto ;
    width: 80%;
    height: 80%;
    border: rgba(81, 75, 4, 0.693) solid ;
    border-radius: 15%;
    }
#hft{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-family: simpsons;
    text-decoration: underline;
    font-size: 1.3em;
    color: rgb(40, 1, 40); 
    }
#imgtempo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 80%;
    height: 70%;
    border: rgba(255, 255, 255, 0.693) solid ;
    border-radius: 15%;
    }
#divft{
    display: fixed;
    justify-content:center;
    align-items: center;
    border: blue solid;
    border-radius: 20px;
    width: 80vw;
    margin: auto;
    background-color: transparent;
    font-size: 1.2em;   
    }
#div1:hover{
    color: blue;
    font-size: 1.3em;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(97, 228, 50);
    border: rgb(255, 255, 247) solid ;
    }
}