@import url("https://www.dafont.com/es/simpsonfont.font");
@font-face {
    font-family:simpsons;
    src: url(Simpsonfont.otf);
}
body {
    background-image: url(/img/fondo.jpg);
    background-attachment: fixed;
    background-size: cover;
    margin: 0px;
    padding: 0px;
}
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;  
}
h1 {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: simpsons;
    font-size: 2em;
    font-weight: 500;
    color: blue;
    font-variation-settings: "MORF" 25%, "SHLN" 15%;
}  
a {
    text-decoration: none;
    color: rgb(22, 45, 249, 0.75);
    font-family: simpsons;
    font-size: 1.5em;
}
nav ul li {
    display: flex;
    justify-content: space-around   ;
}
ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0px;
    gap: 20px;
}
header {
    display: flex;
    justify-content: space-around;
    position: fixed;
    padding: 0.5%;
    align-items: center;
    top: 0%;
    left: 0%;
    box-shadow: 0 2px 5px rgba(245, 10, 10, 0.1);
}
#imgHS {
    display: flex;
    width: 35%; 
    height: 20%; 
    margin: 0.5%;
    border: rgba(255, 255, 255, 0.693) solid;
    border-radius: 20%;
}
#imgSpfd {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 65%;
    height: 30%; 
    border: rgba(255, 255, 255, 0.693) solid;
    border-radius: 30%;
}
#imgMG {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 35%; 
    height: 25%; 
    border: rgba(0, 0, 0, 0.693) solid;
    border-radius: 20%;
}
#img11s {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 40%;
    height: 32%; 
    border: rgba(255, 255, 255, 0.693) solid;
    border-radius: 30%;
}
#img11s:hover {
    width: 60%; 
    height: 40%;
    border: rgba(255, 255, 255, 0.693) solid;
}
#imgFlia {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 40%;
    height: 30%; 
    border: rgba(255, 255, 255, 0.693) solid;
    border-radius: 15%;
}
#imgFlia:hover {
    width: 55%; 
    height: 40%; 
    border: rgba(255, 255, 255, 0.693) solid;
}
#imgtempo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 40%; 
    height: 50%;
    border: rgba(255, 255, 255, 0.693) solid;
    border-radius: 15%;
}
#imgtempo:hover {
    width: 60%; 
    height: 40%;
    border: rgba(255, 255, 255, 0.693) solid;
}
#div1 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: blue solid;
    border-radius: 20px;
    width: 38vw; 
    margin: auto;
}
p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.7rem;
}
#p1{
    font-size: 1.7em;
    font-family: simpsons;
}
#h2his{
    display: flex;
    justify-content: center;
    font-size: 1.5em;
    font-family: simpsons;
    color: darkblue;
}
#div2{
    border: blue solid ;
    border-radius: 6%;
    width:75%;
    height: 55%;
    margin: auto;
}
#pgt{
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
}
#H22{
    display: flex;
    justify-content: center;
    font-size: 1.5em;
    font-family: simpsons;
    color: rgb(13, 171, 26);
}