@import url("https://www.dafont.com/es/simpsonfont.font");
@font-face {
    font-family:simpsons;
    src: url(Simpsonfont.otf);
}
body {
    background-image: url(/img/fondo.jpg);
    background-attachment: fixed;
    background-size: cover;
    margin: 0px;
    padding: 0px;
}
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;  
}
h1 {
    text-align: center;
    font-family: simpsons;
    font-size: 2.5em;
    font-weight: 500;
    color: blue;
    font-variation-settings: "MORF" 25%, "SHLN" 15%;
}  
a {
    text-decoration: none;
    color: rgb(22, 45, 249, 0.75);
    font-family: simpsons;
    font-size: 1.5em;
}

nav ul li {
    display: flex;
    justify-content: space-around   ;
}
ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0px;
    gap: 20px; /* Modificado para que sea más flexible */
}
header {
    display: flex;
    justify-content: space-around;
    position: fixed;
    padding: 1%;
    align-items: center;
    top: 0%;
    left: 0%;
    box-shadow: 0 2px 5px rgba(245, 10, 10, 0.1);
}
#imgHS {
    display: flex;
    width: 15%; /* Modificado para que sea más flexible */
    height: 20%; /* Modificado para que sea más flexible */
    margin: 0.5%;
    border: rgba(255, 255, 255, 0.693) solid;
    border-radius: 20%;
}
#imgSpfd {
    display: flex;
    width: 70%; /* Modificado para que sea más flexible */
    height: 60%; /* Modificado para que sea más flexible */
    margin: 0.5%;
    border: rgba(255, 255, 255, 0.693) solid;
    border-radius: 30%;
}
#imgMG {
    display: flex;
    width: 35%; /* Modificado para que sea más flexible */
    height: 25%; /* Modificado para que sea más flexible */
    margin: 0.5%;
    border: rgba(0, 0, 0, 0.693) solid;
    border-radius: 20%;
}
#img11s {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 70%; /* Modificado para que sea más flexible */
    height: 50%; /* Modificado para que sea más flexible */
    margin: 0.5%;
    border: rgba(255, 255, 255, 0.693) solid;
    border-radius: 30%;
}
#imgFlia {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 50%; /* Modificado para que sea más flexible */
    height: 30%; /* Modificado para que sea más flexible */
    border: rgba(255, 255, 255, 0.693) solid;
    border-radius: 15%;
}
#imgFlia:hover {
    width: 65%; /* Modificado para que sea más flexible */
    height: 50%; /* Modificado para que sea más flexible */
    border: rgba(255, 255, 255, 0.693) solid;
}
#imgtempo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 30%; /* Modificado para que sea más flexible */
    height: 10%; /* Modificado para que sea más flexible */
    border: rgba(255, 255, 255, 0.693) solid;
    border-radius: 15%;
}
#imgtempo:hover {
    width: 75%; /* Modificado para que sea más flexible */
    height: 50%; /* Modificado para que sea más flexible */
    border: rgba(255, 255, 255, 0.693) solid;
}
 /* Divs */
#div1 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: blue solid;
    border-radius: 20px;
    width: 38vw; 
}